body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #355834; /* Hunter green */
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 20px; /* Add some space between the title and the navigation links */
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

#product-list h2 {
    text-align: center;
    margin-bottom: 20px;
}

#product-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#product-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

#product-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#product-list img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px; /* Rounded corners for images */
}

.product-details {
    text-align: center;
    margin-bottom: 15px;
}

.product-name {
    font-size: 18px;
    font-weight: bold; /* Bold product names */
    color: #333;
    margin-bottom: 10px; /* Space between product name and button */
}

.product-price {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}
