body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #ffffff;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.logo-image {
    max-height: 100px; /* Adjust the height as needed */
    width: auto;
}

.form-container {
    background-color: #eeeeee;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.489);
    width: 400px;
    text-align: left;
}

.form-container h2 {
    color: #333333;
    margin-bottom: 10px;
    font-size: 20px;
}

.separator {
    height: 1px;
    background-color: #dddfe2; /* Grey line */
    margin-bottom: 20px;
}

label {
    display: none; /* Hide labels */
}

input {
    width: calc(100% - 16px);
    padding: 12px;
    margin: 5px 0 15px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 16px;
}

input::placeholder {
    color: #888888; /* Placeholder text color */
}

button {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    background-color: #31b55d; /* Hunter green */
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #C3E8BD;
}

.message {
    margin-top: 20px;
    color: red;
    text-align: center;
}

.additional-options {
    text-align: center;
    margin-top: 20px;
}

.additional-options .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #888888;
    font-size: 14px;
}

.additional-options .separator span {
    margin: 0 10px;
}

.register-button {
    background-color: #14281D; /* Dark green */
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #36a420;
}
