body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #355834; /* Hunter green */
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 20px; /* Add some space between the title and the navigation links */
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

#orders ul {
    list-style: none;
    padding: 0;
}

#orders li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#orders h3 {
    margin: 0 0 10px;
}

#orders p {
    margin: 5px 0;
}

#orders h2 {
    text-align: center;
    margin-bottom: 20px;
}
