body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right , #355834, #9DDBAD); /* Green gradient background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #355834; /* Dark green */
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 20px; /* Add some space between the title and the navigation links */
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px); /* Adjust height to account for header */
}

.profile-card {
    background-color: rgba(255, 255, 255, 0.9); /* White with some transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#profile-details p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #355834; /* Hunter green */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #355834; /* Hunter green */
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #14281D; /* Dark green */
}
